<form method="post" action="{{ path('app_tags_delete', {'id': tag.id}) }}" onsubmit="return confirm('La suppréssion est définitive, voulez-vous continuer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
