{% extends 'base.html.twig' %}

{% block title %}Nouveau Tag
{% endblock %}


{% block header %}
	<div class="container pt-5">
		<div class="text-center">
			<h1>Créer un Tag</h1>
		</div>
	</div>

{% endblock %}

{% block section %}

	{{ include('tags/_form.html.twig') }}

	<div class="container pt-5">
		<div class="text-end">
			<a href="{{ path('app_admin') }}">Retour</a>
		</div>
	</div>
{% endblock %}
