{% extends 'base.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block header %}
	<div class="container">
		<div class="">
			<h1>Bienvenue {{ app.user.displayName }}</h1>
		</div>
	</div>
{% endblock %}

{% block section %}
	<div class="container">
		<div class="">
            <a class="btn btn-primary" href="{{ path('app_articles_new') }}" role="button">Nouvel Article</a>
        </div>

		<div class="">
			
		</div>
	</div>
{% endblock %}
