<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
				Pour créer un nouveau Tag
				<img src="{{ asset("/svg/information/info.svg") }}" alt="info">
			</a>

			<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="offcanvasExampleLabel">Information</h5>
					<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<div>
						<p>
							Un tag (ou étiquette, marqueur, libellé) est un mot-clé (signifiant) ou terme associé ou assigné à de l'information (par exemple une image, un article, ou un clip vidéo), qui décrit une caractéristique de l'objet et permet un regroupement facile des informations contenant les mêmes mots-clés.
							<hr>
							<br>
							Pour créer un tag, ne pas séléctionner de tags dans le menu déroulant et compléter le champs <strong>Créer un nouveau tag pour l'article</strong>.
							<br>
							<hr>
							<br>
							<span class="bg-warning">Attention</span> : Si vous choisissez un tag dans le menu déroulant, celui-ci sera privilégié, il sera possible de le modifier <strong>après</strong>
							avoir enregistré l'article.
						</p>
					</div>
					
				</div>
			</div>