<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
	aria-controls="offcanvasExample">
	<img src="{{ asset("/img/svg/info.svg") }}" alt="info">
	Astuce
</a>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasExampleLabel">Information</h5>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div>
			<p>
				<h5>Si vous avez écrit votre article avant de créer un tag</h5><br>
				Vous pouvez enregistrer votre travail avec un tag quelconque sous forme de brouillon, ensuite allez
				créer le tag de votre choix. <br>
				Enfin éditer l'article et séléctionner le tag créer.
			</p>
		</div>
	</div>
</div>