{% extends 'base.html.twig' %}

{% block title %}New Articles
{% endblock %}

{% block header %}
	<div class="container">
		<div class="">
			<h1>Nouvel  Article</h1>
		</div>
	</div>
{% endblock %}

{% block section %}
<div class="container">

	{{ include('articles/_form.html.twig') }}

	<a href="{{ path('app_admin') }}">Retour</a>
</div>
{% endblock %}
