{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block header %}
<div class="container pt-5">
    <div class="text-center pt-3">
        <h1>Conditions d'utilisation générale</h1>
    </div>
    <div class="text-end">
        <small>En vigueur au 14/11/2022</small>
    </div>
</div>
{% endblock %}

{% block section %}
<div class="container">
    <div class="text-center pt-3">
        <h2>Article 1 : Les mentions légales</h2>
    </div>
    <div class="pt-3">
        <p>
            L’édition et la direction de la publication du site chatteactuelle.fr est assurée par Aurelien Regi,
            domicilié rue neuve 34390 Olargues. <br>
            Numéro de téléphone est +33766257521 <br>
            Adresse e-mail chatteActuelle@gmail.com.
        </p>
        <p>
            L'hébergeur du site chatteactuelle.fr est la société Infomaniak, dont le siège social est situé au <br>
            Infomaniak Network SA Rue Eugène Marziano 25 1227 Les Acacias (GE),<br>
            avec le numéro de téléphone : +41 22 820 35 55.
        </p>
    </div>
    <div class="text-center pt-3">
        <h2>ARTICLE 2 : Accès au site</h2>
    </div>
    <div class="pt-3">
        <p>
            Le site chatteactuelle.fr permet à l'Utilisateur un accès gratuit aux services suivants : Lecture des
            articles, Commentaires sur les articles <br>
            Le site internet propose les services suivants : Le point de vue d'une chatte sur le monde actuel, de façon
            humouristique ou sérieuse. <br>
            Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les
            frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion
            Internet, etc.) sont à sa charge.
        </p>
        <p>
            L’Utilisateur non membre n'a pas accès aux services réservés. Pour cela, il doit s’inscrire en remplissant
            le formulaire. En acceptant de s’inscrire aux services réservés, l’Utilisateur membre s’engage à fournir des
            informations sincères et exactes concernant son état civil et ses coordonnées, notamment son adresse email.
        </p>
        <p>
            Pour accéder aux services, l’Utilisateur doit ensuite s'identifier à l'aide de son identifiant et de son mot
            de passe qui lui seront communiqués après son inscription.
            Tout Utilisateur membre régulièrement inscrit pourra également solliciter sa désinscription en se rendant à
            la page dédiée sur son espace personnel. Celle-ci sera effective dans un délai raisonnable.
            Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur
            et sous réserve de toute interruption ou modification en cas de maintenance, n'engage pas la responsabilité
            de chatteactuelle.fr. Dans ces cas, l’Utilisateur accepte ainsi ne pas tenir rigueur à l’éditeur de toute
            interruption ou suspension de service, même sans préavis.
            L'Utilisateur a la possibilité de contacter le site par messagerie électronique à l’adresse email de
            l’éditeur communiqué à l’ARTICLE 1.
        </p>
    </div>
    <div class="text-center pt-3">
        <h2>ARTICLE 3 : Collecte des données</h2>
    </div>
    <div class="pt-3">
        <p>
            Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure
            où il ne collecte aucune donnée concernant les Utilisateurs.
        </p>
    </div>
    <div class="text-center pt-3">
        <h2>ARTICLE 5 : Responsabilité</h2>
    </div>
    <div class="pt-3">
        <p>
            Les sources des informations diffusées sur le site chatteactuelle.fr sont réputées fiables mais le site ne
            garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.
            Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré
            des mises à jour régulières, le site chatteactuelle.fr ne peut être tenu responsable de la modification des
            dispositions administratives et juridiques survenant après la publication. De même, le site ne peut être
            tenue responsable de l’utilisation et de l’interprétation de l’information contenue dans ce site.

        </p>
        <p>
            L'Utilisateur s'assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit
            sa forme, est interdite. Il assume les risques liés à l'utilisation de son identifiant et mot de passe. Le
            site décline toute responsabilité.
        </p>
        <p>
            Le site chatteactuelle.fr ne peut être tenu pour responsable d’éventuels virus qui pourraient infecter
            l’ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation, à l’accès, ou au
            téléchargement provenant de ce site.
            La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et
            insurmontable d'un tiers
        </p>
    </div>
    <div class="text-center pt-3">
        <h2>ARTICLE 6 : Liens hypertextes</h2>
    </div>
    <div class="pt-3">
        <p>
            Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant sur ces liens, il sortira du site chatteactuelle.fr. Ce dernier n’a pas de contrôle sur les pages web sur lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.
        </p>
    </div>
    <div class="text-center pt-3">
        <h2>ARTICLE 7 : Cookies</h2>
    </div>
    <div class="pt-3">
        <p>
            L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation.
Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de l’Utilisateur par votre navigateur et qui sont nécessaires à l’utilisation du site chatteactuelle.fr. Les cookies ne contiennent pas d’information personnelle et ne peuvent pas être utilisés pour identifier quelqu’un. Un cookie contient un identifiant unique, généré aléatoirement et donc anonyme. Certains cookies expirent à la fin de la visite de l’Utilisateur, d’autres restent.
L’information contenue dans les cookies est utilisée pour améliorer le site chatteactuelle.fr.
En naviguant sur le site, L’Utilisateur les accepte.
L’Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.
        </p>
    </div>
    <div class="text-center pt-3">
        <h2>ARTICLE 8 : Droit applicable et juridiction compétente</h2>
    </div>
    <div class="pt-3">
        <p>
            La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né entre les parties, les tribunaux français seront seuls compétents pour en connaître.
Pour toute question relative à l’application des présentes CGU, vous pouvez joindre l’éditeur aux coordonnées inscrites à l’ARTICLE 1.

        </p>
    </div>
    <div class="text-center pt-3">
        <h2>ARTICLE 9 : Commentaires sur le site</h2>
    </div>
    <div class="pt-3">
        <p>
            Les administrateurs se résérve le droit de modérer les commentaires en accord avec la législation française et dans le respect de tout les utilisateurs et administrateurs. 
        </p>
        <p>
            <a href="https://www.gouvernement.fr/tousuniscontrelahaine-ce-que-dit-la-loi-4046" target="_blank" rel="noopener noreferrer">Tous unis contre la haine</a>
        </p>
        <p>
            <a href="https://www.legifrance.gouv.fr/dossierlegislatif/JORFDOLE000038745184/" target="_blank" rel="noopener noreferrer">Contenus haineux sur internet</a>
        </p>
    </div>
    

</div>
{% endblock %}