{% extends 'base.html.twig' %}

{% block title %}Edit Comments{% endblock %}

{% block section %}
    <h1>Edit Comments</h1>

    {{ include('comments/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
