{% extends 'base.html.twig' %}

{% block title %}Commentaires signalés
{% endblock %}

{% block header %}
	<div class="container">
		<div class="text-center">
			<h1>Commentaires signalés</h1>
		</div>
	</div>
{% endblock %}

{% block section %}
	<div class="container">
		{% if comments %}
			{% for comment in comments %}
				<p>
					<strong>{{ comment.user.displayName }}</strong>
					:
					{{ comment.comment }}
					<br>
					{{ include('comments/_deleted_by_admin.html.twig') }}
					{{ include('comments/_allow_comment.html.twig') }}
				</p>
			{% endfor %}
		{% else %}
			<p>Aucun Commentaire signalé(s)</p>
		{% endif %}
	</div>
{% endblock %}
