{% extends 'base.html.twig' %}

{% block title %}Edit Edito{% endblock %}

{% block header %}
	<div class="container">
		<div class="text-center">
			<h1>Edit Edito</h1>
		</div>
	</div>
{% endblock %}

{% block section %}
<div class="container">

	{{ include('edito/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_home') }}">Retour Accueil</a>
</div>
{% endblock %}
