{% extends 'base.html.twig' %}

{% block title %}Paramétres{% endblock %}

{% block header %}
<div class="container text-center p-5">
    <h1>Paramétres {{ user.displayname }}</h1>
</div>
    
{% endblock %}


{% block section %}
{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

<div class="container pt-5">
    <div class="d-flex flex-row justify-content-evenly">

        {% if is_granted('USER_INDEX',app.user) %}
            <a href="{{ path('app_user_index') }}">Retour Index</a>
        {% endif %}
        
        {% if is_granted('DELETE_USER',app.user) %}
        {{ include('user/_delete_form.html.twig') }}
        {% endif %}
    </div>
</div>
    
{% endblock %}