{% extends 'base.html.twig' %}

{% block title %}Edit Images{% endblock %}

{% block section %}
    <h1>Edit Images</h1>

    {{ include('images/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_articles_show',{'slug' : image.articles.slug }) }}">Retour</a>

{% endblock %}
